@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Noto+Sans+JP:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(235, 158, 15);
}
.main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.heading h1{
    color: rgb(26, 27, 27);
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 2rem;
    margin: 1rem;
}
.search-bar{
    margin: 1rem 0;
    width: 400px;
    height: 40px;
    border: none;
   outline: none;
   border-radius: 1rem;
   padding: 0.3rem 1rem; 
}
.container{
    width:80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap:5rem;
    height: max-content;
   
}
.card{
    width: 180px;
    border-radius: 1rem;
    background-color: rgb(65, 62, 62);
    padding: 5px;
}
img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.card h3{
    color: white;
    font-size: 18px;
}
.indexContainer{
    display: flex;
    margin: 2.5rem 0;
}
.numBox{
width: 50px;
height: 40px;
background-color: rgb(116, 111, 111);
display: flex;
justify-content: center;
align-items: center;
color: rgb(253, 255, 255);
margin: 0 5px 0 5px;
cursor: pointer;
}
.content img{
 width: 100%;
 height: 600px;
}
.content .inner-content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(216, 238, 223);
    color: black;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 5px 5px rgba(94, 89, 89, 0.5);
}
.recipe-details{
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .inner-content h1{
    font-weight: bold;
}
.content .inner-content h2{
    font-style: Italic;
}
.ingredients, .instructions{
    flex-basis: 50%;
    text-align: justify;
}
.ingredients h4{
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 18px;
}
iframe{
    height: 515px;
    width: 100%;
}
.video{
    width: 80%;
    margin: 3rem;
}
#search{
    margin: 1rem 0;
    width: 100px;
    height: 40px;
    border: none;
   outline: none;
   border-radius: 1rem;
   padding: 0.6rem 1rem; 
   font-weight: bold;
   background-color: black;
   color: white;
}